/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar-header {
  align-items: center;
  background-color: green;
  display: flex;
  height: 105px;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100vw;
}

.container-nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  left: 0;
  width: 734px;
}

.nav-bar-products {
  align-items: center;
  color: black;
  display: flex;
  font-size: 28px;
  font-weight: 500;
  height: 105px;
  line-height: 33px;
  text-decoration: none;
}

.nav-bar-orders {
  align-items: center;
  color: black;
  display: flex;
  font-size: 28px;
  font-weight: 500;
  height: 105px;
  line-height: 33px;
  text-decoration: none;
}

.nav-bar-user {
  align-items: center;
  display: flex;
  font-size: 36px;
  font-weight: 500;
  height: 105px;
  line-height: 42px;
  text-decoration: none;
}

.nav-bar-logout {
  background-color: green;
  border: none;
  font-size: 36px;
  font-weight: 500;
  height: 105px;
  line-height: 42px;
  text-decoration: none;
}

link:hover, button:hover {
  cursor: pointer;
} */
