/* stylelint-disable comment-empty-line-before */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
* {
  margin: 0;
  padding: 0;
}


.container-login {
  align-items: center;
  background-color: #fede00;
  background-image: url('../../images//texture-wide.jpg');
  background-position: 40% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-image: url('../../images/transparent-beer-foam-drink-beers-foamed-background-liquid-white-foaming-vector-texture-sea-beach-laundry-foamy-217663184-removebg.png'); */
  /* background-repeat: repeat-x; */
  /* background-size: 900px; */
  justify-content: center;
  width: 100vw;
}

.logo {
  /* height: 249px; */
  /* width: 249px; */
  /* width: 10px; */
  margin-bottom: 10px;
  margin-top: 90px;
  padding-left: 10px;
  transform: scale(1.3);
}

.container_login_inputs {
  background: #1a1919;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: white;
  /* border: 1px solid #b1c2be; */
  /* bottom: 12.5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login_label {
  height: 42px;
  margin-bottom: -10px;
  width: 318px;
}

.input-login {
  align-items: center;
  background: white;
  border: 1px solid #001813;
  border-radius: 5px;
  box-sizing: border-box;
  color: #828282;
  display: flex;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-indent: 20px;
}

.modal_button-login {
  align-items: center;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 33px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}

.modal_button-login:disabled {
  color: #999;
  cursor: default;
}

.button-register {
  align-items: center;
  border-radius: 4px;
  color: black;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 33px;
  margin: 10px;

}
