.c-order-details {
  margin: 0 10vw;
  padding: 0 10px 10px;
  min-height: 100%;
}

.order-details__page-title {
  background-color: blue;
  width: 100%;
  margin-bottom: 50px;
}

.order-details__header {
  width: 100%;
  background-color: aqua;
  padding: 5px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

main {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.order-details__header .order-details__order-id {
  font-weight: bold;
}

.order-details__date, .order-details__status {
  background-color: yellow;
  flex-grow: 1;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.order-details__shipped-btn {
  background-color: yellowgreen;
  padding: 5px 20px;
  border-radius: 5px;
  flex-grow: 1;
}

.order-details__shipped-btn:disabled {
  background-color: blanchedalmond;
}

