/* main {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  width: 100%;
} */

.main-products-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  min-width: 508px;
  width: 100%;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
  min-width: 360px;
  padding-bottom: 20px;
  width: 95vw;
}

/* .kart-button {
  background-color: #fdad26;
  position: fixed;
  bottom: 0;
  font-weight: 600;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.kart-button {
  background-color: #fdad26;
  border: 0;
  bottom: 0;
  color: white;
  font-weight: 600;
  height: 50px;
  position: fixed;
  width: 100vw;
}
