.container-register {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-register h1 {
  height: 96px;
  position: absolute;
  text-align: center;
  top: 248px;
  width: 425px;
}

.form-register {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 505px;
  position: absolute;
  top: 344px;
  width: 425px;
}


.label-register {
  align-items: center;
  color: #001813;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-indent: 19px;
}

.input-register-page {
  align-items: center;
  background: #fff;
  border: 1px solid #001813;
  border-radius: 5px;
  box-sizing: border-box;
  color: #828282;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-indent: 20px;
}

.registrar-btn {
  align-items: center;
  background: #036b52;
  border-radius: 10px;
  color: #f2fffc;
  display: flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-top: 10px;
  text-align: center;
}

.registrar-btn:disabled {
  background-color: gray;
}

.registrar-btn:enabled {
  cursor: pointer;
}
