.c-table {
  position: relative;
  width: 100%;
  background-color: brown;
  padding: 0 10px 50px;
  border-radius: 2px;
}

#empty-cart-message {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  color: white;
  min-width: 100%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

td {
  height: 50px;
}

td:not(:nth-child(2)) {
  text-align: center;
}

/* item */
td:first-child {
  border-radius: 5px 0 0 5px;
  background-color: blue;
}

/* sub-total */
td:last-child {
  border-radius: 0 5px 5px 0;
}

th:not(:nth-child(2)) {
  width: 1%;
  padding: 0 10px;
  white-space: nowrap;
}

/* descricao */
td:nth-child(2) {
  background-color: blueviolet;
}
/* quantidade */
td:nth-child(3) {
  background-color: lawngreen;
}
/* valor unitario */
td:nth-child(4) {
  background-color: gold;
}
/* sub total */
td:nth-child(5) {
  background-color: aqua;
}
/* remover */
/* existe um seletor ESPECIFICAMENTE pro botão no final desse arquivo */
td:nth-child(6) {
  transition: 100ms ease-in;
  background-color: red;
}
td:nth-child(6):hover {
  background-color: rgb(153, 7, 7);
}

tbody tr {
  height: 50px;
}

.order-details__total {
  position: absolute;
  font-size: 2rem;
  bottom: 10px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 0;
  right: 10px;
  background-color: blue;
}

td button {
  margin: 0;
  color: white;
  padding: 0;
  border: none;
  min-height: 100%;
  min-width: 100%;
  background-color: transparent;
}
