.c-table {
  background-color: #dfedfc;
  border-radius: 2px;
  padding: 0 10px 60px;
  position: relative;
  width: 100%;
}

.empty-cart-message {
  bottom: 10px;
  color: white;
  font-size: 1.5rem;
  left: 0;
  margin: 0;
  min-width: 100%;
  position: absolute;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

td {
  height: 50px;
}

td:not( :nth-child( 2 ) ) {
  text-align: center;
}

/* item */
td:first-child {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px 0 0 5px;
}

/* sub-total */
td:last-child {
  border-radius: 0 5px 5px 0;
}

th:not( :nth-child( 2 ) ) {
  padding: 0 10px;
  white-space: nowrap;
  width: 1%;
}

/* descricao */
td:nth-child( 2 ) {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding-left: 6px;
}

/* quantidade */
td:nth-child( 3 ) {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.137);
}

/* valor unitario */
td:nth-child( 4 ) {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.137);
}

/* sub total */
td:nth-child( 5 ) {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.137);
}

/* remover */

/* existe um seletor ESPECIFICAMENTE pro botão no final desse arquivo */
td:nth-child( 6 ) {
  background-color: red;
  transition: 100ms ease-in;
}

td:nth-child( 6 ):hover {
  background-color: rgb(153, 7, 7);
}

tbody tr {
  height: 50px;
}

.order-details__total {
  background-color: #fede00;
  border-radius: 5px;
  bottom: 10px;
  box-sizing: border-box;
  font-size: 1.7rem;
  margin: 0;
  padding: 5px 20px;
  position: absolute;
  right: 10px;
}

td button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}
